@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeece6;
    font-family: "spartan", sans-serif;
}

.container {
    border-radius: 25px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5e3c2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] /* Added styling for age field */

select /* Added styling for gender field */ {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    border-radius: 100px;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    color: #050505;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #69d881;
    font-size: 20px;
}


.term {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    padding-top: 7px;
}
.check{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    padding-top: 7px;
}
.term{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    padding-top: 7px;
}

